.row {
  display: grid;
  grid-template-columns: minmax(0, 1fr) var(--sidebar-row-height);
  gap: var(--sidebar-gap);
  align-items: stretch;
  margin-top: auto;
}

.withSettings {
  grid-template-columns: minmax(0, 1fr) repeat(2, var(--sidebar-row-height));
}
